.continer section {
  padding: 100px 0;
}
.continer section .title {
  display: block;
  font-size: 1.75em;
  font-weight: bold;
  color: #000;
}

.intoo-wrap {
  background-color: #073A53;
}
.intoo-wrap .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 960px) {
  .intoo-wrap .inner {
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .intoo-wrap .inner {
    flex-direction: column;
  }
}
.intoo-wrap .inner p,
.intoo-wrap .inner a {
  color: #fff;
}
.intoo-wrap .inner .left {
  width: 30%;
  background-color: #fff;
  padding: 50px 30px 30px;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .intoo-wrap .inner .left {
    padding: 30px 20px 20px;
  }
}
@media screen and (max-width: 767px) {
  .intoo-wrap .inner .left {
    width: auto;
  }
}
.intoo-wrap .inner .left::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #555;
  width: 100%;
  height: 90px;
  top: -30px;
  left: 0;
}
@media screen and (max-width: 960px) {
  .intoo-wrap .inner .left::after {
    height: 70px;
  }
}
.intoo-wrap .inner .left ul li a {
  display: block;
  color: #000;
  text-align: center;
  line-height: 2;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .intoo-wrap .inner .right {
    text-align: center;
  }
}
.intoo-wrap .inner .right .line {
  display: block;
  background-color: #97573E;
  width: 30px;
  height: 10px;
}
@media screen and (max-width: 767px) {
  .intoo-wrap .inner .right .line {
    width: 100%;
    height: 5px;
  }
}
.intoo-wrap .inner .right .dot-lien {
  border-top: 10px dotted #fff;
  color: #fff;
  height: 1px;
  width: 50%;
  flex: 1;
}
.intoo-wrap .inner .right:last-child .sub-title {
  margin-top: 10px;
}
.intoo-wrap .inner .right .sub-title {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}
.intoo-wrap .inner .right .title {
  display: block;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}
.intoo-wrap .inner .right .text-title {
  display: block;
  font-size: 1.25em;
  font-weight: 400;
  color: #fff;
}
.intoo-wrap .inner .right .sub-text span {
  display: block;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .intoo-wrap .inner .right .sub-text span {
    display: inline;
  }
}
.intoo-wrap .inner .right .list .text-title {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
  color: #000;
  margin: 10px 0;
}
.intoo-wrap .inner .right .pr-list > .sub-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .intoo-wrap .inner .right .pr-list > .sub-list {
    flex-direction: column;
  }
}
.intoo-wrap .inner .right .pr-list > .sub-list > li {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .intoo-wrap .inner .right .pr-list > .sub-list > li {
    width: 100%;
  }
}
.intoo-wrap .inner .right .pr-list > .sub-list > li .title-box p {
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 0;
}
.intoo-wrap .inner .right .pr-list > .sub-list > li .sub-sub-list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.intoo-wrap .inner .right .pr-list > .sub-list > li .sub-sub-list > li .img-box {
  width: 30px;
}
.intoo-wrap .inner .right .pr-list > .sub-list > li .sub-sub-list > li .img-box img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intoo-wrap .inner .right .main-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  gap: 5px;
}
.intoo-wrap .inner .right .main-list li p:last-child {
  width: 340px;
}
@media screen and (max-width: 767px) {
  .intoo-wrap .inner .right .main-list li p:last-child {
    width: auto;
  }
}

.pp-wrap .inner .pp-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.pp-wrap .inner .pp-list li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: column;
  padding: 20px;
  position: relative;
}
.pp-wrap .inner .pp-list li a .img-box {
  height: 300px;
}
.pp-wrap .inner .pp-list li a .img-box img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.pp-wrap .inner .pp-list li a .text-box {
  text-align: left;
  padding: 10px 0;
}
.pp-wrap .inner .pp-list li a .text-box span {
  display: block;
  font-size: 1.75em;
  font-weight: bold;
  color: #000;
}
.pp-wrap .inner .pp-list li a .arrow-btn {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 30px;
}
.pp-wrap .inner .pp-list-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(207, 207, 207, 0.5568627451);
  z-index: 2000;
}
.pp-wrap .inner .pp-list-popup li {
  display: none;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background-color: #fff;
}
.pp-wrap .inner .pp-list-popup li.active {
  display: block;
}
.pp-wrap .inner .pp-list-popup li .popup {
  position: relative;
}
.pp-wrap .inner .pp-list-popup li .popup .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.pp-wrap .inner .pp-list-popup li .popup .close-btn .text-title {
  display: block;
  font-size: 1.25em;
  font-weight: 400;
  color: #000;
}
.pp-wrap .inner .pp-list-popup li .popup .close-btn .close-img {
  width: 24px;
  height: 24px;
}