.button-right {
  text-align: center;
}
@media screen and (max-width: 960px) {
  .button-right div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    gap: 40px;
  }
}
@media screen and (max-width: 767px) {
  .button-right div {
    gap: 10px;
  }
}
.button-right div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 20px;
  width: 100%;
  height: 200px;
  border: 1px solid black;
  border-radius: 30px;
  margin: 20px 0;
  font-size: 1.25em;
}
@media screen and (max-width: 960px) {
  .button-right div > a {
    margin: 10px 0;
    padding: 10px;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .button-right div > a {
    margin: 0;
  }
}

.pp-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
}
@media screen and (max-width: 960px) {
  .pp-wrap {
    width: 100%;
  }
}
.pp-wrap > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50%;
}
.pp-wrap > div > div {
  text-align: left;
  width: 50%;
}
.pp-wrap .text-box span {
  display: block;
}
.pp-wrap div .img-box {
  display: block;
  width: 200px;
  height: 100%;
}
@media screen and (max-width: 960px) {
  .pp-wrap div .img-box {
    width: 50px;
    height: 100px;
  }
}
.pp-wrap .box1 .img-box {
  background: url(../images/logo_2023.png) no-repeat center center;
  background-size: 90%;
}
.pp-wrap .box1:hover > a {
  background-color: #145297;
  color: #ffc7ec;
}
.pp-wrap .box1:hover .img-box {
  background: url(../images/hover1.png) no-repeat center center;
  background-size: 90%;
}
.pp-wrap .box2 .img-box {
  background: url(../images/hede-logo.svg) no-repeat center center;
  background-size: 50%;
}
.pp-wrap .box2:hover > a {
  background-color: #028267;
  color: #fff;
}
.pp-wrap .box2:hover .img-box {
  background: url(../images/hover2.svg) no-repeat center center;
  background-size: 50%;
}
.pp-wrap .box3 .img-box {
  background: url(../images/logo.svg) no-repeat center center;
}
.pp-wrap .box3:hover > a {
  background-color: #EF4035;
  color: #fff;
}
.pp-wrap .box3:hover .img-box {
  background: url(../images/hover3.svg) no-repeat center center;
  /* background-size: 90%; */
}
.pp-wrap .box4 .img-box {
  background: url(../images/kfc-logo.svg) no-repeat center center;
}
.pp-wrap .box4:hover > a {
  background-color: #2B0200;
  color: #fff;
}
.pp-wrap .box4:hover .img-box {
  background: url(../images/kfc-hede-logo.svg) no-repeat center center;
  /* background-size: 90%; */
}
.pp-wrap .box5 .img-box {
  background: url(../images/logo.png) no-repeat center center;
  background-size: 50%;
}
.pp-wrap .box5:hover > a {
  background-color: #2B0200;
  color: #fff;
}
.pp-wrap .box5:hover .img-box {
  background: url(../images/logo-hover.png) no-repeat center center;
  background-size: 50%;
}
.pp-wrap .box6 .img-box {
  background: url(../images/logo-ikea.svg) no-repeat center center;
  background-size: 50%;
}
.pp-wrap .box6:hover > a {
  background-color: #0058A3;
  color: #fff;
}
.pp-wrap .box6:hover .img-box {
  background: url(../images/logo-back.svg) no-repeat center center;
  background-size: 50%;
}
@media screen and (max-width: 960px) {
  .pp-wrap .box1,
  .pp-wrap .box2,
  .pp-wrap .box3,
  .pp-wrap .box4,
  .pp-wrap .box5 {
    width: 100%;
  }
}