.main-wrap {
  height: 100vh;
  padding-top: 100px;
  background-color: pink;
  z-index: -1;
}
.main-wrap .inner {
  position: relative;
}
.main-wrap .inner .main-img {
  width: 500px;
  z-index: 2;
}
.main-wrap .inner::after {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-color: #fff;
  width: 600px;
  height: 600px;
  z-index: 0;
}