// 컬러
$bk: #000;
$wh: #fff;


// 폰트 사이즈
$font-default: 16px;
$font-big: 2.5em;
$font-large: 2em;
$font-medium: 1.75em;
$font-small-m: 1.5em;
$font-small: 1.25em;

// 반응형 사이즈
$res-mobile: 960px;
$res-mobile-m: 767px;
$res-mobile-s: 360px;