@use 'color' as *;

@mixin flex($flex: flex, $space-between: space-between, $center: center, $gap: 0) {
   display: $flex;
   justify-content: $space-between;
   align-items: $center;
   gap: $gap;
}

@mixin font-s($display: block, $size: $font-default, $weigth: 400, $color: $bk) {
   display: $display;
   font-size: $size;
   font-weight: $weigth;
   color: $color;
}

@mixin box-s ($box-ss: 2px 4px 9px rgba(0, 0, 0, 0.1)) {
   box-shadow: $box-ss;
}

@mixin border-r($b-r: 40px) {
   border-radius: $b-r;
}

@mixin res ($m-size) {
   @media screen and (max-width:$m-size) {
      @content;
   }
}

@mixin border($color-b: $g555) {
   border-top: 1px solid $color-b;
   border-bottom: 1px solid $color-b;
}

@mixin a-b(){
   display: block;
   position: absolute;
   content: "";
}