@use 'mixin' as *;
@use 'color' as *;
body{
   position: relative;
}
.header-wrap {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 1000;

   header {
      height: 100%;

      .inner {
         @include flex();
         height: 100px;

         @include res($m-size: $res-ipad) {
            height: 80px;
         }
         @include res($m-size: $res-mobile-m) {
            height: 60px;
         }

         .logo {
            a {
               display: block;
               width: 80px;
               @include res($m-size: $res-ipad) {
                 width: 60px;
               }
               @include res($m-size: $res-mobile-m) {
                 width: 40px;
               }
            }
         }

         .nav-list {
            @include flex($gap: 10px);

            li {
               a {
                  @include font-s($size: $font-small);
                  padding: 10px;
                  transition: 0.2s;

                  &:hover {
                     background-color: skyblue;
                     @include border-r();
                  }
               }
            }
         }
      }
   }
}

footer {
   background-color: $bk;

   .inner {
      @include flex();

      .foot-logo {
         width: 100px;
         padding: 20px;
      }

      ul {
         @include flex($gap: 10px);

         li {

            a {
               @include font-s($color: $wh);
            }
         }
      }
   }
}