@use 'mixin' as *;
@use 'color' as *;

.header-wrap {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   
   header {
      height: 100%;
      .inner {
         @include flex();
         height: 100px;

         .logo {
            a{
               display: block;
               width: 80px;
            }
         }

         .nav-list {
            @include flex($gap: 10px);
            li{
               a{
                  @include font-s($size:$font-small);
                  padding: 10px;
                  transition: 0.2s;
                  &:hover{
                     background-color: pink;
                     @include border-r();
                  }
               }
            }
         }
      }
   }
}