@use 'mixin' as *;
@use 'color' as *;


.button-right {}

.button-right {
   text-align: center;

   div {
      @include res($m-size: $res-mobile) {
         @include flex($gap: 40px);
         flex-direction: column;
         gap: 40px;
      }

      @include res($m-size: $res-mobile-m) {
         gap: 10px;
      }

      >a {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 20px;
         padding: 40px 20px;
         width: 100%;
         height: 200px;
         border: 1px solid black;
         border-radius: 30px;
         margin: 20px 0;
         font-size: 1.25em;

         @include res($m-size: $res-mobile) {
            margin: 10px 0;
            padding: 10px;
            height: auto;
         }
         @include res($m-size: $res-mobile-m) {
            margin: 0;
         }

      }
   }
}

.pp-wrap {
   @include flex();
   flex-wrap: wrap;
   @include res($m-size: $res-mobile) {
      width: 100%;
   }
   >div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      width: 50%;

      >div {
         text-align: left;
         width: 50%;
      }
   }

   .text-box {
      span {
         display: block;
      }
   }

   div {
      .img-box {
         display: block;
         width: 200px;
         height: 100%;

         @include res($m-size: $res-mobile) {
            width: 50px;
            height: 100px;
         }
      }
   }

   .box1 {
      .img-box {
         background: url(../images/logo_2023.png) no-repeat center center;
         background-size: 90%;
      }

      &:hover {
         >a {
            background-color: #145297;
            color: #ffc7ec;
         }

         .img-box {
            background: url(../images/hover1.png) no-repeat center center;
            background-size: 90%;
         }
      }
   }

   .box2 {
      .img-box {
         background: url(../images/hede-logo.svg) no-repeat center center;
         background-size: 50%;
      }

      &:hover {
         >a {
            background-color: #028267;
            color: #fff;
         }

         .img-box {
            background: url(../images/hover2.svg) no-repeat center center;
            background-size: 50%;
         }
      }
   }

   .box3 {
      .img-box {
         background: url(../images/logo.svg) no-repeat center center;
      }

      &:hover {
         >a {
            background-color: #EF4035;
            color: #fff;
         }

         .img-box {
            background: url(../images/hover3.svg) no-repeat center center;
            /* background-size: 90%; */
         }
      }
   }

   .box4 {
      .img-box {
         background: url(../images/kfc-logo.svg) no-repeat center center;
      }

      &:hover {
         >a {
            background-color: #2B0200;
            color: #fff;
         }

         .img-box {
            background: url(../images/kfc-hede-logo.svg) no-repeat center center;
            /* background-size: 90%; */
         }
      }
   }

   .box5 {
      .img-box {
         background: url(../images/logo.png) no-repeat center center;
         background-size: 50%;
      }

      &:hover {
         >a {
            background-color: #2B0200;
            color: #fff;
         }

         .img-box {
            background: url(../images/logo-hover.png) no-repeat center center;
            background-size: 50%;
         }
      }
   }
   .box6 {
      .img-box {
         background: url(../images/logo-ikea.svg) no-repeat center center;
         background-size: 50%;
      }

      &:hover {
         >a {
            background-color: #0058A3;
            color: #fff;
         }

         .img-box {
            background: url(../images/logo-back.svg) no-repeat center center;
            background-size: 50%;
         }
      }
   }

   @include res($m-size: $res-mobile) {
      .box1,
      .box2,
      .box3,
      .box4,
      .box5 {
         width: 100%;
      }
   }
}