@use 'mixin' as *;
@use 'color' as *;

.main-wrap {
   height: 100vh;
   padding-top: 100px;
   background-color: #FFAEAE;
   z-index: -1;

   .inner {
      @include flex();
      position: relative;

      @include res($m-size: $res-mobile-m) {
         flex-direction: column;
      }

      .main-img {
         width: 500px;
         height: auto;
         z-index: 2;

         @include res($m-size: $res-ipad) {
            width: 400px;
         }

         @include res($m-size: $res-mobile-m) {
            width: 320px;
            height: 500px;
         }

         img {
            margin: 50px;

            @include res($m-size: $res-ipad) {
               margin: 20px;
            }

            @include res($m-size: $res-mobile-m) {
               margin: 0;
            }
         }

      }

      &::after {
         @include a-b();
         left: 0;
         top: 0;
         background-color: $wh;
         width: 600px;
         height: 600px;
         @include border-r($b-r: 10000px);
         z-index: 0;

         @include res($m-size: $res-ipad) {
            width: 450px;
            height: 450px;
         }

         @include res($m-size: $res-mobile-m) {
            left: 50px;
            width: 300px;
            height: 300px;
         }
      }

      .text-box {
         position: absolute;
         left: 650px;
         top: 25%;
         transform: translateY(-50%);
         padding-right: 100px;

         @include res($m-size: $res-ipad) {
            left: 450px;
            padding-right: 0;
         }

         @include res($m-size: $res-mobile-m) {
            position: sticky;
         }

         .sub-title {
            @include font-s($size: 5em, $weigth: bold);
            margin-bottom: 100px;

            @include res($m-size: $res-ipad) {
               margin-bottom: 50px;
            }
         }

         .text-title {
            @include font-s($size: 3em, $weigth: bold);
            position: relative;
            line-height: 2;

            &::after {
               @include a-b();
               width: 100%;
               height: 2px;
               background-color: $wh;

            }

            &:last-child {
               text-align: right;

               &::after {
                  display: none;
               }
            }
         }
      }
   }

   img {
      @include img();
   }
}