@use 'mixin' as *;
@use 'color' as *;

.main {
   position: relative;
   margin-top: 100px;
   background-color: pink;

   .inner {
      .main-title {
         text-align: center;
         padding: 40px 0;
         color: #fff;
      }
   }

   &::after {
      @include a-b();
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.2);

   }
}