.close-btn,
.ham-btn {
    display: none;
}


header {
    position: relative;
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
    width: 200px;
    min-width: 100px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.nav>li {
    padding: 10px 20px;
}

.nav>li>a {
    display: block;
    font-size: 1.25em;
    font-weight: bold;

}

.nav>li>a:hover {
    color: #df3c39;
}

.sub-wrap {
    display: none;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    width: 100%;
    height: 340px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(151, 151, 151, 0.095);
}

.sub-wrap>div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 50%;
    margin: 0 auto;

}

.sub-wrap>div>h2 {
    font-size: 1.75em;
    width: 150px;
    text-align: center;
    color: #df3c39;
}

.sub-list>li>a {
    display: block;
    margin-bottom: 20px;
}

.sub-list>li>a:hover {
    text-decoration: underline;
    color: #df3c39;
}

.sub-wrap .img {
    width: 300px;
    height: 100%;
    margin-left: 40px;
}

.artist-img {
    position: relative;
    width: 300px;
    height: 100%;
}

.artist-img>li {
    position: absolute;
    left: 0;
    top: 0;
}

.sub-wrap>div img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sns-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* 푸터 */
footer {
    background-color: #333;
}

footer .inner,
.footer-left,
.footer-sns-list {
    display: flex;
    align-items: center;
    color: #fff;
}

.footer-left a,
.footer-right a {
    color: #fff;
}

footer .inner {
    height: 200px;
    justify-content: space-between;
}

.footer-logo {
    width: 150px;
}

.footer-logo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-left {
    gap: 30px;
}

.family-list {
    position: relative;
}

.family-list>li {
    background-color: #fff;
    border-radius: 10px;
}

.family-list>li>a {
    display: block;
    padding: 10px 20px;
    background: url(../images/icon/caret-down.svg) no-repeat 90% center;
    color: #000;
}

.family-list>li>a.active {
    background: url(../images/icon/caret-up.svg) no-repeat 90% center;
}

.family-sub {
    display: none;
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
}

.family-sub a {
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    line-height: 1.5;
    color: #000;
}

.family-sub a:hover {
    color: #df3c39;
}

.footer-nav span {
    display: block;
    line-height: 1.5;
}

.footer-sns-list {
    margin-top: 30px;
    gap: 20px;
}

.footer-sns-list>li>a {
    display: block;
    width: 40px;
    height: 40px;
}

.footer-sns-list img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:1279px) {

    .nav,
    .sns-list {
        display: none;
    }

    .ham-btn,
    .close-btn {
        display: block;
    }

    header .inner {
        height: 70px;
    }

    header .logo {
        padding: 10px 0;
        /* line-height: 70px; */
    }

    .sub-bg {
        position: fixed;
        width: 70%;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translateX(0);
    }

    .sub-inner {
        position: relative;
        width: auto;
        padding: 0;
    }

    .sub-wrap {
        flex-direction: column;
        margin-top: 70px;
    }

    .sub-wrap>li {
        display: block;
        position: sticky;
    }

    .sub-list-wrap {
        display: block;
    }

    .sub-list-wrap>a {
        display: block;
        width: 100%;
        text-align: left;
        background: url(../images/icon/caret-down.svg) no-repeat 95% center;
        border-top: 1px solid #555;
        border-bottom: 1px solid #555;
    }

    .sub-wrap>.active .sub-list-wrap>a {
        display: block;
        background: url(../images/icon/caret-up.svg) no-repeat 95% center;

    }

    .sub-list>li>a {
        padding: 10px 40px;
        border-bottom: 1px solid #eee;
    }

    .close-btn {
        position: absolute;
        top: -50px;
        right: 10px;
        width: 32px;
        height: 32px;
    }

    .ham-btn {
        width: 32px;
        height: 32px;
    }

    .close-btn>a img,
    .ham-btn>a img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

@media screen and (max-width:797px) {

    .footer-left {
        align-items: flex-start;
        flex-direction: column;
    }

    .family-list {
        width: 100%;
    }

    .family-sub {
        top: -80px;
    }
}

@media screen and (max-width:360px) {
    footer .inner {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        height: auto;
        padding-top: 10px;
    }

    footer .inner>div {
        width: 100%;
    }

    .footer-left {
        align-items: flex-start;
        flex-direction: column;
    }

    .family-list {
        width: 100%;
    }

    .family-sub {
        top: -80px;
    }

    .footer-sns-list {
        justify-content: space-between;
        margin-top: 10px;
        gap: 0;
    }
}