.m-nav {
    position: fixed;
    width: 70%;
    height: 100vh;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    /* overflow: scroll; */
}

.m-sub-list {
    position: relative;
    padding: 10px;
    margin-top: 80px;
}

.m-sub-list>li {
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}

.m-sub-list>li>a {
    display: block;
    padding: 10px;
    font-size: 1.75em;
    font-weight: bold;
    color: #df3c39;
    background: url(../images/icon/caret-down.svg) no-repeat 95% center;
}

.m-sub-list>.active>a {
    background: url(../images/icon/caret-up.svg) no-repeat 95% center;

}
.m-sub-list>.active .sub-list-m {
    display: block;
}

.sub-list-m {
    display: none;
}

.sub-list-m>li {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.sub-list-m>li>a {
    display: block;
    padding: 10px 20px;
    font-size: 1.25em;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}