@use 'mixin' as *;
@use 'color' as *;

header {
    .inner {
        @include flex();

        height: 100px;

        @include res($res-ipad) {
            height: 80px;
        }

        @include res($res-mobile) {
            height: 60px;
        }

        .logo {
            width: 75px;
            height: 80px;

            @include res($res-ipad) {
                width: 55px;

                height: 60px;
            }

            @include res($res-mobile) {
                width: 35px;
                height: 40px;
            }
        }

        .nav {
            @include flex($gap: 50px);

            @include res($res-ipad) {
                display: none;
            }

            >li {
                position: relative;
                // padding: 20px;

                >a {
                    display: block;
                    @include font-s($size: $font-small, $weigth: bold, $color: $bk);
                    padding: 30px 20px;

                    &:hover {
                        @include hover-text();

                        .sub-wrap {
                            display: block;
                        }
                    }
                }

            }

        }

        .sub-wrap {
            display: none;
            position: absolute;
            left: 0;
            top: 100px;
            width: 100%;
            margin: 0 auto;
            z-index: 100;
            background-color: $wh;

            .sub-inner {
                @include flex($space-between: center, $center: flex-start, $gap: 100px);
                height: 300px;
                @include box-s();
                padding: 10px;

                >li {
                    >a {
                        @include font-s($size: $font-small-m, $weigth: bold);
                        line-height: 2;

                        &:hover {
                            @include hover-text();
                        }
                    }
                }

                @include res($res-ipad) {
                    padding-top: 80px;

                    >li {
                        >a {
                            background: url(../images/icon/caret-down.svg) no-repeat 95% center;
                            @include border();
                            padding: 10px 20px;

                        }

                    }

                    .active {
                        >a {
                            background: url(../images/icon/caret-up.svg) no-repeat 95% center;
                        }

                        .sub-list {
                            display: block;
                        }
                    }
                }

                .sub-list {


                    >li {
                        >a {
                            @include font-s($size: $font-default);
                            line-height: 1.5;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                    }

                    @include res($res-ipad) {
                        display: none;

                        >li {
                            >a {
                                padding: 5px 25px;
                                @include border($color-b: $geee);

                            }
                        }
                    }
                }


            }

            @include res($res-ipad) {
                position: fixed;
                left: -100%;
                width: 70%;
                height: 100vh;
                top: 0;
                transition: left 0.5s ease;
                background-color: #fff;

                .sub-inner {
                    display: block;
                    height: 100%;
                }
            }
        }


        .gnb-list {
            @include flex($gap: 10px);

            @include res($res-ipad) {
                display: none;
            }

            li {
                a {
                    @include flex($gap: 5px);
                    @include font-s($display:flex);
                    width: auto;
                    img{
                        width: 10px;
                        height: 10px;
                    }
                    &:hover {
                        @include hover-text();
                    }
                }
            }
        }

        .gnb-s-list {
            display: none;

            @include res($res-ipad) {
                display: inline-block;
                flex: 1;
                text-align: right;
                padding-right: 30px;

                a {
                    @include font-s($display: inline-block, $weigth: bold);
                    @include box-s();
                    @include border-r();
                    padding: 10px 30px;

                    &:hover {
                        @include hover-back();
                    }
                }
            }
        }
    }

    .ham-btn,
    .close-btn {
        display: none;

        @include res($res-ipad) {
            display: block;
            width: 32px;
            height: 32px;
        }
    }

    .close-btn {
        @include res($res-ipad) {
            position: absolute;
            top: 28px;
            right: 30px;
            display: block;
            width: 32px;
            height: 32px;
        }
    }

    img {
        @include img-box();
    }

}