// 메인컬러
$main-color-b: #0058A3;
$main-color-y: #FFDB00;

// 회색
$bk: #000;
$bk-50: #00000088;
$wh: #fff;
$wh-50: #ffffff88;
$g555: #888;
$geee: #eee;

// 폰트 사이즈
$font-default: 16px;
$font-big: 2.5em;
$font-large: 2em;
$font-medium: 1.75em;
$font-small-m: 1.5em;
$font-small: 1.25em;

// 간격
$gap-small: 16px;
$gap-medium: 50px;
$gap-large: 70px;

// 반응형 사이즈
$res-pc: 1660px;
$res-ipad: 1279px;
$res-mobile: 767px;
$res-mobile-s: 550px;
$res-mobile-ss: 360px;