// 메인컬러
$main-color-p: #FF8233;
$main-color-b: #2B0200;
$main-color-r: #D72300;

// 회색
$bk: #000;
$bk-50: #0000007e;
$wh: #fff;
$wh-50: #ffffff7e;
$g555: #888;
$geee: #eee;

// 폰트 사이즈
$font-default: 16px;
$font-small: 1.25em;
$font-medium: 1.75em;
$font-large: 2em;
$font-big: 2.5em;
// $font-xsmall: 0.9em;
// $font-menu: 1.25em;

// 간격
$gap-small: 16px;
$gap-medium: 50px;
$gap-large: 70px;

// 반응형 사이즈
$res-mobile: 767px;
$res-ipad: 1279px;
$res-pc: 1660px;

// *{
//     font-weight: bold;
// }